.App {
  text-align: left;
  font-family: Montserrat;
}

#name {
  font-size: 7vw;
  margin-left: 40px;
}

#contactIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

@media only screen and (min-width: 800px) {

    #name {
      font-size: 56px;
    }

    #contactIcons {
      flex-direction: row;
    }

}
