.App {
  text-align: center;
  font-family: Montserrat;
  overflow-x: hidden;
}

#header {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15vw 15vw;
  margin-top: 20px;
  margin-bottom: 10vw;
}

.Face.Wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#face {
  height: 30vw;
  width: 30vw;
  border-radius: 40vw;
  object-fit: cover;
  border-style: solid;
  border-width: 1.5px;
}

#name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 7vw;
  align-self: center;
}

#iconBar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#iconBar>* {
  margin-right: 20px;
}

#dividerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#divider {
  width: 80%;
  height: 1.5px;
  background-color: black;
  border-radius: 1px;
}

#contactIcons {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

@media only screen and (min-width: 800px) {

    #header {
      margin-bottom: 80px;
      grid-template-rows: 120px 120px;
    }

    #name {
      font-size: 56px;
    }

    #face {
      height: 240px;
      width: 240px;
      border-radius: 320px;
    }

    #headerWrapper {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}
