.FeedIcon {
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  transition: .3s;
}

.FeedIcon.Container {
  display: grid;
  grid-template-columns: 32px 32px;
  grid-template-rows: 32px 32px;
  border-width: 0px;
  width: 64px;
  height: 64px;
}

.FeedIcon.Container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.FeedIcon.Container:hover .FeedIcon.Box#first {
  background-color: #ff7777;
}

.FeedIcon.Container:hover .FeedIcon.Box#second {
  background-color: #77ff77;
}

.FeedIcon.Container:hover .FeedIcon.Box#third {
  background-color: #7777ff;
}

.FeedIcon.Box#first {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 58px;
}

.FeedIcon.Box {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 26px;
  margin-left: 2px;
  margin-top: 2px;
}
