.Github.FeedItem.Container {
  border-radius: 10px;
  border-style: solid;
  border-width: 1.5px;
  margin: 10px;
  padding: 10px;
}

.Github.FeedItem.Title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: .7em;
  font-weight: bold;
}

.Github.FeedItem.Message {
  text-align: left;
  font-style: italic;
}

.Github.FeedItem.Stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Github.FeedItem.Stats.Date {
  color: #a5a5a5;
}

.Github.FeedItem.Stats.Additions {
  color: #1fe076;
}

.Github.FeedItem.Stats.Deletions {
  color: #e0411d;
}
