.ProjectIcon {
  border-color: black;
  border-style: solid;
  border-width: 0px;
  transition: .3s;
}

.ProjectIcon.Container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.ProjectIcon.Container:hover .ProjectIcon#bulb p {
  color: #15bf50;
}

.ProjectIcon.Container:hover .ProjectIcon#bulb {
    background-color: #fffca8;
}

.ProjectIcon.Container:hover .ProjectIcon.bulbBottom {
    background-color: #dddddd;
}

.ProjectIcon.Container {
  width: 48px;
  height: 64px;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ProjectIcon#bulb {
  width: 40px;
  height: 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProjectIcon.bulbBottom {
  z-index: -1;
  transform: translateY(-2px);
  width: 20px;
  height: 3px;
  border-bottom-width: 1.5px;
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

.ProjectIcon.bulbBottom#last {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
