.Project.Image {
  height: 30vw;
  width: 30vw;
  border-radius: 5vw;
  object-fit: cover;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}

.Project.Image.Wrapper {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Project {
  text-decoration: none;
  color: black;
}

.Project.Container {
  transition: .3s;
  margin-top: 20px;
  width: 80%;
  display: grid;
  grid-template-rows: 15vw 40vw;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
}

.Project.Container:hover {
  background-color: #ededed;
}

.Project.Container.LeftHanded {
  margin-right: 15%;
  margin-left: 5%;
  grid-template-columns: 40% 60%;
}

.Project.Container.RightHanded {
  margin-left: 15%;
  margin-right: 5%;
  grid-template-columns: 60% 40%;
}

.Project.Image {
  grid-row-start: 1;
  grid-row-end: 3;
}

.Project.Container.LeftHanded .Project.Image {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Project.Container.RightHanded .Project.Image {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Project.Title {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 5px;

}

.Project.Title.Wrapper {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.Project.Description {
  grid-row-start: 2;
  grid-row-end: 3;
}

.Project.Container.LeftHanded .Project.Title {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Project.Container.LeftHanded .Project.Description {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Project.Container.RightHanded .Project.Title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Project.Container.RightHanded .Project.Description {
  grid-column-start: 1;
  grid-column-end: 2;
}

@media only screen and (min-width: 800px) {

  .Project.Container {
    grid-template-rows: 120px 320px;
  }

  .Project.Image {
    height: 240px;
    width: 240px;
    border-radius: 40px;
  }

}
