.Throbber.Outer {
  width: 20vw;
  height: 10vw;
  top: -10vw;
  //top: -1vw;
  transform-origin: 50% 100%;
  background-color: black;
  border-top-left-radius: 20vw;
  border-top-right-radius: 20vw;
  animation:spinEven 1s linear infinite;
}

.Throbber.Inner {
  width: 19vw;
  height: 10vw;
  margin-top: .5vw;
  margin-left: .5vw;
  top: -9vw;
  transform-origin: 50% 100%;
  background-color: white;
  border-top-left-radius: 38vw;
  border-top-right-radius: 38vw;
}


@keyframes spinEven {
  100% { transform:rotate(360deg); }
}
